.main {
    display: flex;
    flex-direction: column;
}

/* .ques-section, .final-score, .high-scores {
    display: none;
} */

.title-layout {
    text-align: center;
}

#timer {
    display:flex;
    justify-content: flex-end;
}
button {
    background: #2E145D;
    color: white;
    font-size: 15px;
    height: 30px;
    line-height: 8px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 30px;
    letter-spacing: .50px;
    transition-duration: .40s;
}

button:hover {
    background-color: blueviolet;
    font-weight: lighter;
}

.header {
 display:flex;
} 

.option {
    display: flex;
   margin: 15px;
   width: 230px;
   height: 25px;
   cursor: pointer;
}

ul {
    list-style-type:none;
}

.questions {
    display: flex;
    flex-direction: column;
    align-self: center;
}
/* .first-ques {
    /* opacity: 0%; */
    /* pointer-events: none; */
   
/* } */
/* 
#ques-1-layout {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

 .ans-list-1 { 
    margin-top: 40px;
    margin-left: 450px;
 }
  

.options-1 {
    background-color: #2E145D;
    color: white;
   display: flex;
   align-items: center;
   border-radius: 9px;
   padding: 8px 15px;
   margin-bottom: 15px;
   list-style: none;
   width: 230px;
   height: 25px;
   font-size: 20px;
   cursor: pointer;
}

.options-1:hover {
    background-color: blueviolet;
}

.sec-ques{

}


#ques-2-layout {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

 .ans-list-2 { 
    margin-top: 40px;
    margin-left: 300px;
 }
  

.options-2 {
    background-color: #2E145D;
    color: white;
   display: flex;
   align-items: center;
   border-radius: 9px;
   padding: 8px 15px;
   margin-bottom: 15px;
   list-style: none;
   width: 230px;
   height: 25px;
   font-size: 20px;
   cursor: pointer;
}

.options-2:hover {
    background-color: blueviolet;
}

.third-ques{

}


#ques-3-layout {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

 .ans-list-3 { 
    margin-top: 40px;
    margin-left: 400px;
 }
  

.options-3 {
    background-color: #2E145D;
    color: white;
   display: flex;
   align-items: center;
   border-radius: 9px;
   padding: 8px 15px;
   margin-bottom: 15px;
   list-style: none;
   width: 230px;
   height: 25px;
   font-size: 20px;
   cursor: pointer;
}

.options-3:hover {
    background-color: blueviolet;
}

.fourth-ques{

}


#ques-4-layout {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

 .ans-list-4 { 
    margin-top: 40px;
    margin-left: 425px;
 }
  

.options-4 {
    background-color: #2E145D;
    color: white;
   display: flex;
   align-items: center;
   border-radius: 9px;
   padding: 8px 15px;
   margin-bottom: 15px;
   list-style: none;
   width: 230px;
   height: 25px;
   font-size: 20px;
   cursor: pointer;
}

.options-4:hover {
    background-color: blueviolet;
}

.fifth-ques{

}


#ques-5-layout {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

 .ans-list-5 { 
    margin-top: 40px;
    margin-left: 515px;
 }
  

.options-5 {
    background-color: #2E145D;
    color: white;
   display: flex;
   align-items: center;
   border-radius: 9px;
   padding: 8px 15px;
   margin-bottom: 15px;
   list-style: none;
   width: 230px;
   height: 25px;
   font-size: 20px;
   cursor: pointer;
}

.options-5:hover {
    background-color: blueviolet;
}
 */ 
.final-score {
    margin-left: 400px;
    font-size: 25px;
}

.initials-submit {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.submit {
    margin-right:500px;
}

.high-scores {
    margin-left: 400px;
    font-size: 25px;
} 
