.main {
    display: flex;
    flex-direction: column;
}


.title-layout {
    text-align: center;
}

#timer {
    display:flex;
    justify-content: flex-end;
}
button {
    background: #2E145D;
    color: white;
    font-size: 15px;
    height: 30px;
    line-height: 8px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 30px;
    letter-spacing: .50px;
    transition-duration: .40s;
}

button:hover {
    background-color: blueviolet;
    font-weight: lighter;
}

.header {
 display:flex;
 margin-left: 10px;
} 

.option {
    display: flex;
   margin: 15px;
   width: 230px;
   height: 40px;
   cursor: pointer;
   align-items: center;
}

.check {
    margin-left: 100px;
}

ul {
    list-style-type:none;
    padding: 0;
}

.questions {
    display: none;
    flex-direction: column;
    align-self: center;
}

.final-score {
    display: none;
    margin-left: 400px;
    font-size: 25px;
}

.initials-submit {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.submit {
    margin-right:500px;
}

.high-scores {
    display: none;
    margin-left: 400px;
    font-size: 25px;
} 
